doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/vendor/css/normalize.css')
    link(rel='stylesheet', href='/vendor/css/foundation.css')
    link(rel='stylesheet', href='/static/css/app.css')
  body
    .row.full-height
      .small-12.columns.main-content
        .row.full-width.full-height
          .window.small-12.columns
            .row.header
              .heading-board
                h1 Andrew Moore
                h5 Web Developer
            .row.body
              .side-panel
                ul
                  - var menuItems = ['Projects', 'Contact'];
                  - var menuLinks = ['/', '/contact/']
                  - for(var i=0; i < menuItems.length; ++i) {
                    li.menu-links
                      a(href=menuLinks[i])
                        strong= menuItems[i]
                  - }
              block content
