@import "./app/style/contact";
@import "./app/style/elements";
@import "./app/style/fonts";
@import "./app/style/menu";
@import "./app/style/page";
@import "./app/style/project";
@import "./app/style/responsive";
@import "./app/style/scrollbar";
@import "./app/style/variables";

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.main-content {
  height: 100%;
}

.header, .body {
  position: absolute;
  min-width: 100%;
}

.header {
  top: 1%;
  text-align: center;
  min-height: 20%;
  max-height: 20%;
}

.heading-board {
  display: inline-block;
  width: 46%;
  background-color: rgba(05, 05, 05, .7);
  padding: .2em;
  border-radius: @border-radius;
}

.body .columns {
  min-height: 75%;
  max-height: 75%;
  margin: .2em;
}

.side-panel, .scroll-panel {
  position: absolute;
  bottom: 0px;
  background-color: rgba(05, 05, 05, .7);
  border-radius: @border-radius;
  min-height: 98%;
  max-height: 98%;
}
.side-panel {
  width: 20%;
  left: 0%;
}
.side-panel > ul {
  min-width: 100%;
  max-width: 100%;
  min-height: 96%;
  max-height: 96%;
  position: absolute;
}

.scroll-panel {
  position: absolute;
  min-width: 75%;
  max-width: 75%;
  padding: 0px;
  overflow: auto;
  border: 4em solid rgba(00, 00, 00, .0);
  right: 1%;
}

.scroll-menu, .contact-menu {
  position: absolute;
  width: 100%;
  border-radius: @border-radius;
  background-color: @stained-glass-dark;
  padding: 0em 2em;
}

.project-container, .contact-container {
  position: relative;
  margin: 5em auto;
  padding: 2em 1.5em;
  border-radius: @border-radius;
  background-color: @deep-red;
}

.project-links > a , .contact-container-right > a {
  margin: .5em;
  font-family: "Play-Bold";
  text-shadow: 0px 0px 5px rgba(255, 175, 190, .5);
  color: @blue;
}

.project-links > a:hover , .contact-container-right > a:hover {
  text-shadow: 0px 0px 10px rgba(255, 175, 190, 1);
}

.clear {
  clear: both;
}

.contact-container-right > a {
  margin: 0px;
}
