.contact-container-left > img {
  height: 16em;
  border-radius: @border-radius;
}

.contact-container {
  margin: 1em auto;
  min-height: 18em;
}

.contact-menu {
  padding: 1em 2em;
}

.contact-container-left, .contact-container-right {
  display: inline-block;
}

.contact-container-right {
  position: absolute;
  right: 0px;
  margin: 0em 2em;
  text-align: left;
  width: 55%;
}

.contact-section-strong {
  display: block;
  margin: 1.5em 0em;
  font-size: 1.2em;
  font-family: "Play-Bold";
}
