html, body {
  width: 100%;
  height: 100%;
  scrollbar-width: .66em;
  scrollbar-track-color: @stained-glass-dark;
  scrollbar-face-color: @deep-red-solid;
  scrollbar-highlight-color: @red-shadow;
  scrollbar-3dlight-color: @red-shadow;
  scrollbar-shadow-color: @stained-glass-dark;
  scrollbar-darkshadow-color: @deep-red;
  overflow: hidden;
}

body {
  background-color: @bg-color;
  color: @font-color;
}

h1, h5 {
  font-family: "RapScript";
  text-shadow: 6px 2px 10px @red-shadow;
  color: black;
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

h5 {
  font-size: 1.5em;
}
ul {
  list-style-type: none;
}

input[type=textarea] {
  width: 100%;
  height: 12em;
}

a {
  color: @blue;
}
