@font-face {
  font-family: "PaintCans";
  src: url("/vendor/fonts/PaintCans.otf");
}

@font-face {
  font-family: "RapScript";
  src: url("/vendor/fonts/RapScript.otf");
}

@font-face {
  font-family: "Play-Bold";
  src: url("/vendor/fonts/Play-Bold.ttf");
}
