.menu-links {
  margin: 31% 0px;
  font-size: 1.8em;
  min-height: 30%;
  max-height: 30%;
  min-width: 100%;
  max-width: 100%;
}

.menu-links > a {
  color: @deep-red-solid;
  font-family: "RapScript";
  text-shadow: 0px 0px 7px rgba(255, 175, 190, .8);
}

.menu-links > a:hover, .menu-links > a:active {
  color: @blue;
  text-shadow: 0px 0px 10px rgba(255, 175, 190, .9);
}
