.window {
  position: relative;
  margin: 1em auto;
  width: 100%;
  min-height: 95%;
  max-height: 95%;
  box-shadow: 0px 0px 6px 4px @shadow-color;
  border-radius: 2px;
  background: url("/static/img/window.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.body {
  bottom: 1%;
  min-height: 75%;
  max-height: 75%;
}
