.project-image {
  width: 34%;
  vertical-align: top;
}

.project-header {
  display: inline-block;
  width: 66%;
  text-align: center;

  h5 {
    font-size: 2em;
    font-family: "Play-Bold";
    text-shadow: 0px 0px 10px rgba(255, 175, 190, 1);
  }

  a {
    padding: 33px 10px;
  }
}

.project-info {
  padding-top: 33px;

  p {
    font-size: @reading-size;
    overflow-y: auto;
  }
}

.project-info-footer {
  padding-top: 14px;
  word-wrap: break-word;

  ul {
    margin-left: 0px;

    li {
      display: inline;
      padding: 10px;
      margin: 4px;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
