
@media (min-width: 801px) {
  body {
    font-size: 14px;
  }
  .menu-links > a > strong {
    font-size: 98%;
  }
  .menu-links {
    margin: 40% 0px;
  }
  .side-panel {
    padding-left: 1%;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 7px;
  }
  .menu-links > a > strong {
    font-size: 60%;
  }
  .menu-links {
    margin: 16% 0px;
  }
  .project-info > h5 {
    font-size: 1.3em;
  }
  .project-info > p {
    font-size: 0.8em;
    min-height: 50%;
    max-height: 50%;
  }
  .project-info-label, .project-info-value {
    font-size: 0.7em;
  }
  .project-links {
    font-size: 0.7em;
  }
  a.git {
    float: left;
  }
  ::-webkit-scrollbar {
       width: .33rem;
  }
  .project-container:nth-child(1) {
    margin: 3em auto;
  }
  .bullets-section {
    float: left;
  }
  .defloat-in-landscape {
    float: left;
  }
  .project-image {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .heading-board {
    width: 98%;
  }
  .menu-links > a > strong {
    font-size: 35%;
  }
  .project-info {
    padding: 0;
  }
  .project-info > h5 {
    font-size: 1.0em;
  }
  .project-info > p {
    font-size: 0.6em;
  }
  .project-info-footer {
    left: 1.5em;
    width: 75%;
  }
  .project-info-label, .project-info-value {
    font-size: 0.5em;
  }
  .project-links {
    bottom: 0%;
  }
  .defloat-in-portrait {
    float: left;
  }
  .contact-container-right {
    right: -5%;
    text-align: right;
  }
  .project-image {
    visibility: hidden;
  }
}
