::-webkit-scrollbar {
     width: .50rem;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px @stained-glass-dark;
    border-radius: @border-radius;
    background-color: @stained-glass-dark;
}
::-webkit-scrollbar-track:active {
    -webkit-box-shadow: inset 0 0 6px @blue;
}
::-webkit-scrollbar-thumb {
    border-radius: @border-radius;
    background-color: @deep-red-solid;
}
::-webkit-scrollbar-thumb:active {
    background-color: @deep-red;
    border: 1px solid @red-shadow;
}
