@bg-color: rgba(12, 10, 10, 1);
@shadow-color: rgba(150, 150, 150, .7);
@border-radius: 7px;
@font-color: rgba(200, 200, 200, .9);
@deep-red: rgba(100, 0, 0, .3);
@deep-red-solid: rgba(100, 0, 0, .8);
@stained-glass-dark: rgba(03, 03, 03, .7);
@red-shadow: rgba(255, 175, 190, 1);
@blue: #22aeaf;
@project-container-min-height: 20em;
@reading-size: 0.9em;
