extends ../template/index
block content
  .scroll-panel
    .contact-menu
      .contact-container
        .contact-container-left
          img(src="/static/img/chair.png")
        .contact-container-right
          strong.contact-section-strong me AT this domain
          a(href="http://stackoverflow.com/users/story/3186057", target="_blank")
            strong.contact-section-strong Stack Overflow
          a(href="https://gitlab.com/andrewwilliammoore/", target="_blank")
            strong.contact-section-strong GitLab
          a(href="https://github.com/drewmoore/", target="_blank")
            strong.contact-section-strong GitHub
          a(href="https://www.linkedin.com/pub/drew-moore/99/923/103", target="_blank")
            strong.contact-section-strong LinkedIn
