extends ./template/index
block content
  .scroll-panel
    .scroll-menu
      ul
        each project in projects
          li.project-container
            img.project-image(src=project.image)
            div.project-header
              h5= project.title
              .project-links
                a.web(href=project.url, target='_blank', rel='noopener noreferrer') Web
                if project.git
                  a.git(href=project.git, target='_blank', rel='noopener noreferrer') Git
            .project-info
              p= project.description
            .project-info-footer
              ul
                each tag in project.tags
                  li= tag
